.header {
    background-color: #499EF3;
    padding: 0px 55px;
}

.body {
    margin: 30px 50px;
}

.btn-submit {
    float: right;
    margin-bottom: 10px;
}

.bg {
    background-image: url(../img/bg.jpg);
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 13px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section {
    margin-top: 15px;
}

.edit {
    color: #999;
    font-size: 13px;
}

.error_jumbotron {
    margin: 50px;
}

.comment {
    padding: 10px 0;
}

.btn-comment {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-comments{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}
.question_hr{
    margin-top: 0px;
}

.quention_cont{
    margin-bottom: 20px;
    margin-top: 25px;
}

.question_menu{
    color: #999;
    margin-top: 5px;
}
.quention_related{
    line-height: 36px;
    font-size: 13px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.quention_tag{
    margin-right: 5px;
}

.question_menu .comment-icon{
    font-size: 17px;
    cursor: pointer;
}
.question_menu .comment-icon:hover{
    color: #499EF3;
}
.question_menu .icon{
    margin-right: 9px;
    font-size: 17px;
    cursor: pointer;
}

.question_menu .icon2{
    font-size: 17px;
    cursor: pointer;
}

.question_menu .active{
    color: #499EF3;
}

.question_menu .icon:hover{
    color: #499EF3;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.footer{
    font-size: 12px;
    text-align: center;
    margin: 15px 25%;
}