<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>manong community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!--导入JQuery-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="bg">
<div th:insert="~{navigation :: nav}"></div>
<!--内容盒子-->
<div class="container-fluid" style="margin: 30px 30px;background-color: white;">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span th:text="${personQuestionDTO.title}"></span></h4>
            <span class="text-desc">
                作者: <span th:text="${personQuestionDTO.user.name}"></span>
               | 发布时间 <span th:text="${#dates.format(personQuestionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
               | 阅读数：0
            </span>
            <hr/>
            <span th:text="${personQuestionDTO.description}"></span>
            </br>
            <hr/>
            <a th:href="@{'/publish/'+ @{personQuestionDTO.id}}" class="edit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span><br>
            </a>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left">
                    <span>
                        <img class="media-object"
                             th:src="${personQuestionDTO.user.avatarUrl}">
                    </span>
                </div>
                <div class="media-body">
                    <h6 class="media-heading">
                        <span th:text="${personQuestionDTO.user.name}"></span>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4>相关问题</h4>
        </div>
    </div>
</div>
</body>
</html>